ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="*", ATTRS{idProduct}=="*", RUN+="/opt/usb-libvirt-hotplug/usb-libvirt-hotplug.sh %k"
ACTION=="remove", SUBSYSTEM=="usb", RUN+="/opt/usb-libvirt-hotplug/usb-libvirt-hotplug.sh %k"

